<header class="header <%= logged_in? ? 'header-logged-in' : 'header-not-logged-in' %>">
  <div class="header-container">
    <div class="logo">
      <a href="/">
        <h1>宴会TO DO</h1>
      </a>
    </div>
    
    <% if logged_in? %>
      <%= search_form_for @q, url: events_path, html: { class: "search-form" } do |f| %>
        <i class="fas fa-search search-icon"></i>
        <%= f.search_field :title_cont, class: "search-input", placeholder: "イベントを検索..." %>
      <% end %>
      
      
      <!-- ハンバーガーメニューボタン -->
      <button class="navbar-toggler hamburger-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- ドロップダウンメニュー -->
      <div class="collapse navbar-collapse dropdown-menu-container" id="navbarDropdown">
        <ul class="navbar-nav ms-auto dropdown-menu">
          <li class="nav-item dropdown-menu-item">
            <%= link_to "イベント一覧", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown-menu-item">
            <%= link_to "イベント作成", new_event_path, class: "nav-link" %>
          </li>
          <li class="dropdown-divider"></li>
          <li class="nav-item dropdown-menu-item">
            <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link", form: { data: { turbo: true } } %>
          </li>
        </ul>
      </div>

    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "login-button" %>
    <% end %>
  </div>
</header>
