<header class="header <%= logged_in? ? 'header-logged-in' : 'header-not-logged-in' %>">
  <div class="header-container">
    <div class="logo">
      <a href="/">
        <h1>宴会TO DO</h1>
      </a>
    </div>
    
    <% if logged_in? %>
      <%= search_form_for @q, url: events_path, html: { class: "search-form" } do |f| %>
        <i class="fas fa-search search-icon"></i>
        <%= f.search_field :title_cont, class: "search-input", placeholder: "イベントを検索..." %>
      <% end %>
      
      
      <div class="dropdown">
        <button class="btn btn-link p-0" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bars fs-5"></i> <!-- Font Awesomeのハンバーガーアイコン -->
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><%= link_to "イベント一覧", events_path, class: "dropdown-item" %></li>
          <li><%= link_to "イベント作成", new_event_path, class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "login-button" %>
    <% end %>
  </div>
</header>
