<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Task status:</strong>
    <%= task.task_status %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= task.event_id %>
  </p>

</div>
